.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form{
  width: 300px;
}

.error_message {
  color: red;
  font-size: 12px;
}

.app{
  display: flex;
  justify-content: center;
}

.success_message{
  margin-top: 10px;
  color: green
}